/*  your css code here. If applicable */
.main-container {
    padding: Hold the testimonials ;
	background-color:#f5f5f5;/* add your styles for the main container here */
}

.testimonial {
  padding:;
	border: Individual testimonial box;
	background-color:#f5f5f5;/* add your styles for the testimonial divs here */
}

.author {
    /* add your styles for the author names here */
}